<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class=" row">
                        <!-- Online Shopping Links -->
                        <div class="col-md-6 mb-4">
                            <span>ONLINE SHOPPING</span>
                            <div class="mt-3">
                                <a class="text-decoration-none text-secondary" href="">Men</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Women</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Kids</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Home & Living</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Beauty</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Gifts</a>
                            </div>
                            <!-- Useful links -->
                            <div class="mt-4">
                                <span>USEFUL LINKS</span>
                            </div>
                            <div class="mt-2">
                                <a class="text-decoration-none text-secondary" href="">Blog</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Careers</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Site Map</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Corpoative Information</a>
                            </div>
                        </div>
                        <!-- Customer Policies Links -->
                        <div class="col-md-6 mb-4">
                            <span>CUSTOMER POLICIES</span>
                            <div class="mt-3">
                                <a class="text-decoration-none text-secondary" href="">Contact us</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">FAQ</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">T&C</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Terms of use</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Track orders</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Shipping</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Cancellation</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Returns</a>
                            </div>
                            <div>
                                <a class="text-decoration-none text-secondary" href="">Privacy policy</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div>
                        <span>EXPERIENCE APP ON MOBILE</span>
                        <div class="mt-3">
                            <button class="btn btn-md btn-dark me-2 mb-2">
                                <img src="https://cdn-icons-png.flaticon.com/512/3128/3128279.png" alt=""
                                    style="width: 24px; height: 24px;">
                                Play store
                            </button>
                            <button class="btn btn-md btn-dark mb-2">
                                <img src="https://cdn-icons-png.flaticon.com/128/882/882704.png" alt=""
                                    style="width: 24px; height: 24px;">
                                App store
                            </button>
                        </div>
                        <div class="mt-3 mb-2">
                            <span>KEEP IN TOUCH</span>
                            <div class="mt-2">
                                <img class="me-2" src="https://cdn-icons-png.flaticon.com/128/1051/1051309.png" alt=""
                                    style="width: 30px; height: 30px;">
                                <img class="me-2" src="https://cdn-icons-png.flaticon.com/128/733/733635.png" alt=""
                                    style="width: 30px; height: 30px;">
                                <img class="me-2" src="https://cdn-icons-png.flaticon.com/128/1384/1384028.png" alt=""
                                    style="width: 30px; height: 30px;">
                                <img class="me-2" src="https://cdn-icons-png.flaticon.com/128/1400/1400829.png" alt=""
                                    style="width: 30px; height: 30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3">
                    <img class="float-end"
                        src="https://constant.myntassets.com/web/assets/img/6c3306ca-1efa-4a27-8769-3b69d16948741574602902452-original.png"
                        alt="" style="height: 50px; width: 50;">
                </div>
                <div class="col-9">
                    <span><i>100% ORIGINAL </i>
                        guarantee for all products at eshop.com</span>
                </div>
            </div>
            <div class="row mt-3 mb-4">
                <div class="col-3">
                    <img class="float-end"
                        src="https://constant.myntassets.com/web/assets/img/ef05d6ec-950a-4d01-bbfa-e8e5af80ffe31574602902427-30days.png"
                        alt="" style="height: 50px; width: 50;">
                </div>
                <div class="col-9">
                    <span><i>Return within 30days </i>
                        of receiving your order</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6">
            <span>In case of any concern, <a class="h6 text-primary text-decoration-none">Contact Us</a></span>
        </div>
        <div class="col-sm-6 d-flex align-items-end flex-column">
            <span>&copy; 2022 www.eshop.com. All rights reserved.</span>
        </div>
    </div>
</div>