<div class="d-flex justify-content-center align-items-center">
    <img src="https://t4.ftcdn.net/jpg/02/78/04/83/240_F_278048380_iSYBXJVHlmubwng5AuzgYNTtAIyuAPsj.jpg"
        style="width: 45px; height: 45px" class="img-fluid" alt="">
    <span class="mt-2 h3" style="color: #C9AE5D;"> <i> SHOP BY CATEGORY</i></span>
    <img src="https://t4.ftcdn.net/jpg/02/78/04/83/240_F_278048380_iSYBXJVHlmubwng5AuzgYNTtAIyuAPsj.jpg"
        style="width: 45px; height: 45px" class="img-fluid" alt="">
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <app-shop-by-category-list></app-shop-by-category-list>
    </div>
</div>